/* Restart Game Button Design Section */


.restart-button-part{
  padding-left: 10vh;

  .restart-button{
    cursor: pointer;
    font-size: 30px;
    border: none;
    background: none;
    color: var(--general);
    font-family: "Montserrat", Sans-serif;
  }
  
}
